* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  font-family: Roboto, sans-serif;
  font-size: 16px;
  position: relative;
}
/* ============== Common CSS Start ============== */
a {
  text-decoration: none !important;
}
p {
  font-family: "Work Sans", sans-serif;
  margin-bottom: 0;
  color: #2c3e50;
}
.btn-blue,
.btn-gold {
  display: inline-block;
  font-size: 18px;
  color: #fff;
  text-transform: capitalize;
  text-decoration: none;
  line-height: 0;
  padding: 25px 30px;
  border-radius: 3px;
  border: none;
  font-weight: 500;
  position: relative;
  z-index: 1;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  -ms-border-radius: 3px;
  -o-border-radius: 3px;
}
.btn-blue::before,
.btn-gold::before {
  position: absolute;
  content: "";
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  color: #fff !important;
  z-index: 1;
  transform: scaleX(0);
  transform-origin: 0 0;
  transition: 0.5s;
  border-radius: 3px;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  -ms-border-radius: 3px;
  -o-border-radius: 3px;
  -webkit-transition: 0.5s;
  -moz-transition: 0.5s;
  -ms-transition: 0.5s;
  -o-transition: 0.5s;
}
.btn-blue:hover::before,
.btn-gold:hover::before {
  color: #fff !important;
  transform: scaleX(1);
  z-index: -1;
  -webkit-transform: scaleX(1);
  -moz-transform: scaleX(1);
  -ms-transform: scaleX(1);
  -o-transform: scaleX(1);
}
.btn-blue {
  background: #317bd6;
}
.btn-blue::before {
  background: gold;
}
.btn-gold {
  background: gold;
  color: #2c3e50;
}
.btn-gold::before {
  background: #317bd6;
}
a.btn-blue:hover {
  color: #2c3e50;
}
a.btn-gold:hover {
  color: #fff;
}
h2.title {
  font-size: 50px;
  color: #2c3e50;
  text-transform: uppercase;
  font-weight: 800;
  margin-bottom: 50px;
  letter-spacing: 5px;
  position: relative;
  text-align: center;
}
h2.title::after {
  content: "";
  position: absolute;
  bottom: -10px;
  left: 50%;
  transform: translateX(-50%);
  -webkit-transform: translateX(-50%);
  -moz-transform: translateX(-50%);
  -ms-transform: translateX(-50%);
  -o-transform: translateX(-50%);
  height: 5px;
  width: 50%;
  background: gold;
}
.slick-slide:focus {
  outline: none;
}
a:focus,
.btn-blue:focus,
.btn-gold:focus,
button:focus,
input:focus,
.form-control:focus {
  box-shadow: none;
}

/* ============== Header Start ============== */
header {
  height: 110vh;
}
#navigation {
  background: transparent;
  padding: 0;
  z-index: 10;
  transition: .7s;
}
#navigation .navbar-brand {
  font-size: 20px;
  color: gold;
}
#menu ul li {
  padding: 15px;
}
#menu .nav-item .nav-link:hover,
#menu .nav-item .nav-link.active {
  color: gold;
}
#menu ul li a {
  font-size: 16px;
  color: #fff;
  text-transform: uppercase;
  font-weight: 500;
  transition: 0.5s;
  -webkit-transition: 0.5s;
  -moz-transition: 0.5s;
  -ms-transition: 0.5s;
  -o-transition: 0.5s;
}
#banner {
  background: url(img/banner/2.png);
  background-size: cover;
  background-repeat: no-repeat;
  height: 100%;
  position: relative;
  margin-top: -80px;
}
#banner .container,
#banner .row {
  height: 100%;
}
#banner::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.7);
}
.banner-content h1,
.banner-content h2,
.banner-content h3 {
  color: #fff;
}
.banner-content h2 {
  font-size: 43px;
  text-transform: capitalize;
}
.banner-content h2 .professional {
  color: gold;
  text-transform: uppercase;
  font-weight: 900;
}
.banner-content h1 {
  font-size: 70px;
  margin: 25px 0 10px;
  color: gold;
  text-transform: uppercase;
  letter-spacing: 10px;
  font-weight: 900;
}
.banner-content .i-am {
  color: #fff;
  text-transform: none;
  font-size: 50px;

}
.banner-content h3 {
  font-size: 30px;
  font-weight: 400;
  margin-bottom: 50px;
  text-transform: capitalize;
}
.banner-content .btn-blue {
  margin-right: 15px;
}
.sticky {
  background: #317bd6 !important;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 99;
}
/* ============== Header End ============== */

/* ============== Feature Start ============== */
#feature {
  text-align: center;
  margin-top: -100px;
}
.feature-item {
  padding: 40px 25px;
  background: #ecf0f1;
  border-radius: 5px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  -o-border-radius: 5px;
  margin-bottom: 15px;
}
.feature-item i {
  font-size: 40px;
  color: #317bd6;
  margin-bottom: 15px;
}
.feature-item h4 {
  font-size: 20px;
  text-transform: uppercase;
}
/* ============== Feature End ============== */

/* ============== About Start ============== */
#about {
  padding: 80px 0;
}
.about-content .title {
  text-align: left;
}
.about-content .title::after {
  width: 290px;
  left: 140px;
}
.about-content p {
  font-size: 20px;
  line-height: 30px;
  font-weight: 300;
  margin-bottom: 30px;
}
.about-content .btn-gold {
  margin-top: 20px;
}
/* ============== About End ============== */

/* ============== Service Start ============== */
#service {
  padding: 80px 0;
  text-align: center;
}
#service .title::after {
  width: 280px;
}
.service-item {
  padding: 40px 25px;
  background: #ecf0f1;
  margin-bottom: 20px;
  border-radius: 5px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  -o-border-radius: 5px;
  transition: 0.5s;
  -webkit-transition: 0.5s;
  -moz-transition: 0.5s;
  -ms-transition: 0.5s;
  -o-transition: 0.5s;
}
.service-item i {
  font-size: 35px;
  color: #317bd6;
  margin-bottom: 25px;
}
.service-item h4 {
  text-transform: uppercase;
  color: #2f3542;
  margin-bottom: 15px;
}
.service-item p {
  font-size: 17px;
  line-height: 24px;
}
.service-item:hover {
  transform: translateY(-10px);
  -webkit-transform: translateY(-10px);
  -moz-transform: translateY(-10px);
  -ms-transform: translateY(-10px);
  -o-transform: translateY(-10px);
}
/* ============== Service End ============== */

/* ============== Counter Start ============== */
#counter .container-fluid {
  padding: 0;
}
#counter .counter-item {
  background: gold;
  padding: 80px 40px;
  text-align: center;
  color: #2f3542;
  display: flex;
  align-items: center;
}
#counter .counter-item.counter-trophy {
  background: #ffd900ad;
}
#counter .counter-item.counter-client {
  background: #ffd90083;
}
#counter .counter-item.counter-review {
  background: #ffd90060;
}
.counter-icon i {
  font-size: 90px;
}
.counter-text {
  padding-left: 20px;
}
.counter-text h3 {
  font-size: 35px;
  font-weight: 800;
}
.counter-text h4 {
  text-transform: uppercase;
}
/* ============== Counter End ============== */

/* ============== Portfolio Start ============== */
#portfolio {
  padding: 130px 0;
  text-align: center;
}
#portfolio .title {
  margin-bottom: 90px;
}
#portfolio .title::after {
  width: 450px;
}
.portfolio-item {
  position: relative;
}
.portfolio-item::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  transition: 0.5s;
  -webkit-transition: 0.5s;
  -moz-transition: 0.5s;
  -ms-transition: 0.5s;
  -o-transition: 0.5s;
}
.portfolio-item:hover::after {
  background: rgba(0, 0, 0, 0.6);
}
.portfolio-item img {
  width: 100%;
  height: 280px;
  display: block;
}
.portfolio-item a {
  font-size: 30px;
  color: gold;
  opacity: 0;
  z-index: 10;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  -webkit-transform: translate(-50%, -50%);
  -moz-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  -o-transform: translate(-50%, -50%);
  transition: 0.5s;
  -webkit-transition: 0.5s;
  -moz-transition: 0.5s;
  -ms-transition: 0.5s;
  -o-transition: 0.5s;
}
.portfolio-item:hover a {
  opacity: 1;
}
/* ============== Portfolio End ============== */

/* ============== Testimonial Start ============== */
#testimonial {
  padding: 90px 0;
  background: #f7f7f7;
}
#testimonial .title {
  margin-bottom: 140px;
}
#testimonial .title::after {
  width: 380px;
}
#testimonial .row {
  position: relative;
}
.testimonial-item p {
  font-size: 22px;
  line-height: 35px;
  color: #2f3542;
}
.testimonial-item .client {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 30px;
}
.client-image {
  padding-right: 15px;
}
.client-image img {
  border-radius: 50%;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
}
.client-bio {
  padding-left: 15px;
}
.client-bio h4 {
  font-size: 20px;
  text-transform: uppercase;
  color: #2f3542;
  line-height: 0;
}
.client-bio span {
  font-size: 17px;
  color: #317bd6;
  margin-top: 5px;
  display: inline-block;
}
.testimonial-prev,
.testimonial-next {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  color: #317bd6;
  font-size: 50px;
  transition: 0.5s;
  -webkit-transition: 0.5s;
  -moz-transition: 0.5s;
  -ms-transition: 0.5s;
  -o-transition: 0.5s;
  cursor: pointer;
  -webkit-transform: translateY(-50%);
  -moz-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  -o-transform: translateY(-50%);
}
.testimonial-prev {
  left: 0;
}
.testimonial-next {
  right: 0;
}
.testimonial-prev:hover,
.testimonial-next:hover {
  color: gold;
}
/* ============== Testimonial End ============== */

/* ============== Contact Start ============== */
#contact {
  padding: 120px 0 180px;
  background: url("img/banner/3.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  position: relative;
}
#contact::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.7);
}
#contact .title {
  color: #fff;
}
#contact .title::after {
  width: 320px;
}
.contact-form .input-element {
  margin-top: 25px;
  border: none;
  padding: 10px 20px;
  color: #2f3542;
  font-size: 17px;
  font-family: Roboto;
}
textarea.input-element {
  height: 150px;
  resize: none;
}
/* ============== Contact End ============== */

/* ============== Top Footer Start ============== */
#footer {
  padding: 150px 0;
  background: #f7f7f7;
}
.footer-item {
  margin-bottom: 30px;
}
.footer-item h4 {
  margin-bottom: 25px;
}
.footer-item .footer-logo {
  color: #317bd6;
}
.footer-item .contact-item {
  display: flex;
  align-items: center;
  margin-bottom: 20px;
}
.contact-item i {
  font-size: 23px;
  padding-right: 20px;
}
.contact-item p {
  font-size: 18px;
  color: #2f3542;
}
.footer-item.social a {
  display: inline-block;
  font-size: 25px;
  color: #2f3542;
  margin-right: 30px;
  transition: 0.3s;
  -webkit-transition: 0.3s;
  -moz-transition: 0.3s;
  -ms-transition: 0.3s;
  -o-transition: 0.3s;
}
.footer-item.social a:hover {
  color: #317bd6;
}
.newsletter {
  border: 2px solid #317bd6;
  border-radius: 3px;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  -ms-border-radius: 3px;
  -o-border-radius: 3px;
}
.newsletter .form-control {
  border: none;
  border-radius: 0;
  -webkit-border-radius: 0;
  -moz-border-radius: 0;
  -ms-border-radius: 0;
  -o-border-radius: 0;
}
.newsletter .btn {
  border-radius: 0;
  -webkit-border-radius: 0;
  -moz-border-radius: 0;
  -ms-border-radius: 0;
  -o-border-radius: 0;
}
.newsletter .btn-blue {
  padding: 25px 10px;
  border-radius: 0;
  -webkit-border-radius: 0;
  -moz-border-radius: 0;
  -ms-border-radius: 0;
  -o-border-radius: 0;
}
/* ============== Top Footer End ============== */

/* ============== Footer Start ============== */
footer {
  background: #2f3542;
  text-align: center;
  padding: 25px 0;
}
footer p {
  color: #fff;
  font-size: 18px;
}
/* ============== Footer End ============== */
